<a id="toc"></a>
<h1>seaHorse</h1>
<a href="#what">What is a seaHorse</a><br>
<a href="#why">Why do i need one</a><br>
<a href="#where">Where can I buy one</a><br>


<hr>
<a id="what"></a>
<h2>What is a seaHorse</h2>
<div>A Remote Boat for hire, you plot a journey on the map and press GO</div>
<!--<app-hero-birthday></app-hero-birthday>-->
<hr>

<a id="why"></a>
<h2>Why do i need one</h2>
<p>Everyone needs a seaHorse, we have race days etc.
<hr>
<a id="where"></a>
<h2>Where can I buy one</h2>
<p>Coming soone {{  birthday | date:'fullDate' | uppercase}} </p>
<app-boat-list></app-boat-list>
<!--
<app-boat-list></app-boat-list>
<app-hero-birthday2></app-hero-birthday2>


<hr>
<a id="power-booster"></a>
<app-power-booster></app-power-booster>

<hr>
<a id="power-boost-calc"></a>
<app-power-boost-calculator>loading</app-power-boost-calculator>

<hr>
<a id="flying-heroes"></a>
<app-flying-heroes></app-flying-heroes>

<hr>
<a id="flying-heroes-impure"></a>
<app-flying-heroes-impure></app-flying-heroes-impure>

<hr>
<a id="hero-message"></a>
-->
<!-- async examples at the top so can see them in action -->
<!--<app-hero-message></app-hero-message>-->
<!--
<hr>
<a id="hero-list"></a>
<app-hero-list></app-hero-list>

<div style="margin-top:12em;"></div>
-->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->